.footer-title {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin: 0;
  font-family: Maven Pro, sans-serif !important;
}

.container-footer {
  background: rgba(0, 0, 0, 0) !important;
}

.footer {
  background-color: #282c2e !important;
}

.footer-social-link {
  padding-right: 0.5rem;
}

.footer-social-img {
  display: inline-flex;
}
