.bg-header {
  background: #ff4a00 !important;
}

.header-title {
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 2em;
  color: white;
  font-family: Maven Pro, sans-serif !important;
}
