.renewal-body {
  text-align: justify;
}

.renewal-body-title {
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 1.5em;
  color: black;
  font-family: Maven Pro, sans-serif !important;
  text-align: center;
  padding-bottom: 1.5rem;
  color: #2b2b2b;
}

.body-p {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: Maven Pro, sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  padding-top: 20px;
  padding-right: 71px;
  text-align: justify;
  color: #2b2b2b;
}
