<wrapper class="footer">
  <container class="container-footer">
    <spacer size="32"></spacer>
    <row>
      <column>
        <h2 class="footer-title text-center">Siga a Queima Diária</h2>
      </column>
    </row>

    <spacer size="8"></spacer>
    <row>
      <column>
        <center>
          <a
            href="https://www.facebook.com/queimadiaria"
            class="footer-social-link text-center"
          >
            <img
              class="footer-social-img"
              alt=""
              src="https://email.queimadiaria.com/assets/face.png"
            />
          </a>
          <a
            class="footer-social-link"
            href="https://www.youtube.com/channel/UCLIGZHwB9Q5SWuh9TO473jA"
          >
            <img
              class="footer-social-img"
              alt=""
              src="https://email.queimadiaria.com/assets/yt.png"
            />
          </a>
          <a
            class="footer-social-link-last"
            href="https://www.instagram.com/queimadiaria"
          >
            <img
              class="footer-social-img"
              alt=""
              src="https://email.queimadiaria.com/assets/ig.png"
            />
          </a>
        </center>
      </column>
    </row>

    <spacer size="8"></spacer>
    <row>
      <column>
        <center>
          <img alt="" src="https://email.queimadiaria.com/assets/qd-logo.png" />
        </center>
      </column>
    </row>

    <spacer size="16"></spacer>
  </container>
</wrapper>
